*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    filter:brightness(100%);
    filter:contrast(150%);
    filter:saturate(150%);
}
header{
    width: 80%;
    height: auto;
    border: 4px solid purple;
    margin: 0px auto;
    text-align: center; 
}
.image_effect{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image_effect div{
    width: 25%;
    height: 150px;
    border: 2px solid purple;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.image_effect input{
    cursor: pointer;
}
#uimage{
    width: 80%;
    height: 10vh;
    border: 1px solid purple;
    margin: 1% auto;
    text-align: center;
}
#uimage button{
    height: 100%;
    width: 40%;
    position: relative;
}
#download button{
    height: 100%;
    width: 50%;
    position: relative;
    text-decoration: none;
    
}
#uimage button input{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
#pic{
    display: none;
}
@media print{
.image_effect,#download,#uimage,div{
    display:none;
}
header{
    border:none;
}
}
@page{
    size:auto;
    margin:0mm;
}
@media (max-width:900px){
    .image_effect div input{
        width: 100%;
        
    }
    .image_effect div font,#val1,#val2,#val3{
        font-size: 14px;
    }
}
